<h1 style="text-align:center;">MDL 252</h1>
<table>
	<% @row_counter = 0 %>
	<% @students.each do |student| %>
		<% if @row_counter == 0 %>
			<div class="row">
		<% end %>
		<% @row_counter+=1 %>
		<div class="two columns" style="border: 1px black solid; text-align:center;">
			<div>
				<%= picture(student) %>
			</div>
			<div class="name">
				<%= "#{student.first_name} #{student.last_name}" %>
			</div>
		</div>
		<% if @row_counter == 6 %>
			</div>
			<% @row_counter = 0 %>
		<% end %>
	<% end %>
</table>
<div class="medium primary btn">
  <a href="#">Primary</a>
</div>
