<h1>MDL 252</h1>
<div class="student-table">
	<% @row_counter = 0 %>
	<% @students.each do |student| %>
		<% if @row_counter == 0 %>
			<div class="row">
		<% end %>
		<% @row_counter+=1 %>
		<div class="two columns profile">
			<div>
				<%= link_to picture(student), '#' %>
			</div>
			<div class="name">
				<%= "#{student.first_name} #{student.last_name}" %>
			</div>
		</div>
		<% if @row_counter == 6 %>
			</div>
			<% @row_counter = 0 %>
		<% end %>
	<% end %>
</div>

<p style="margin-top: 50px;">Sort by:</p>

<div class="sorting-buttons">
	<div class="medium primary btn">
	  <a href="#">A <i class="icon-right-thin"></i> Z</a>
	</div>
	<div class="medium primary btn">
	  <a href="#">ICM</a>
	</div>
	<div class="medium primary btn">
	  <a href="#">Top Gunner</a>
	</div>
</div>
