// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	text-align: center;    
}

.student-table {
    width: 100%;
    border: 5px green solid;
}

.profile {
	text-align: center;
    border: 1px black solid;
	/*-webkit-animation-name: shift-left;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-name: shift-left;
    animation-duration: 2s;
    animation-fill-mode: forwards;*/

}

.name {
	font-size: 12px;
	margin-top: -15px;
	background-color: red;
	font-color: blue;
}


.drawer {
	background-color: white;
	font-size: 12px;
    box-shadow: none;
}

.mini-button-row {
	margin-top: -5px;
	margin-bottom: 5px;
}


@-webkit-keyframes shift-left {
    0%   {left:0px; top:0px;}
    100% {right:200px; top:0px;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@keyframes shift-left {
    0%   {left:0px; top:0px;}
    100% {left:-50%; top:-50%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
    }
}




